In [2]:
import pandas as pd

In [ ]:
https://www.kaggle.com/datasets/brsdincer/star-type-classification/data

Carregar os dados

In [3]:
df_star = pd.read_csv("Stars.csv")

Qtd de linhas e colunas

In [8]:
df_star.shape

(240, 7)

Visualizar as 5 primeiras linhas

In [5]:
df_star.head()

   Temperature         L       R    A_M Color Spectral_Class  Type
0         3068  0.002400  0.1700  16.12   Red              M     0
1         3042  0.000500  0.1542  16.60   Red              M     0
2         2600  0.000300  0.1020  18.70   Red              M     0
3         2800  0.000200  0.1600  16.65   Red              M     0
4         1939  0.000138  0.1030  20.06   Red              M     0

Visualizar as 5 ultima linhas

In [7]:
df_star.tail()

     Temperature         L       R    A_M  Color Spectral_Class  Type
235        38940  374830.0  1356.0  -9.93   Blue              O     5
236        30839  834042.0  1194.0 -10.63   Blue              O     5
237         8829  537493.0  1423.0 -10.73  White              A     5
238         9235  404940.0  1112.0 -11.23  White              A     5
239        37882  294903.0  1783.0  -7.80   Blue              O     5

# Data Wrangler

## Color

Valores únicos em color

In [12]:
df_star['Color'].unique().tolist()

['Red',
 'Blue White',
 'White',
 'Yellowish White',
 'Blue white',
 'Pale yellow orange',
 'Blue',
 'Blue-white',
 'Whitish',
 'yellow-white',
 'Orange',
 'White-Yellow',
 'white',
 'yellowish',
 'Yellowish',
 'Orange-Red',
 'Blue-White']

Colocar em low_case

In [14]:
def lower_case_color(cor: str)-> str:
    return cor.lower()

Testando a função

In [15]:
lower_case_color("AAAAA")

'aaaaa'

In [18]:
df_star['Color'] = df_star['Color'].apply(lower_case_color)

In [19]:
df_star

     Temperature              L          R    A_M  Color Spectral_Class  Type
0           3068       0.002400     0.1700  16.12    red              M     0
1           3042       0.000500     0.1542  16.60    red              M     0
2           2600       0.000300     0.1020  18.70    red              M     0
3           2800       0.000200     0.1600  16.65    red              M     0
4           1939       0.000138     0.1030  20.06    red              M     0
..           ...            ...        ...    ...    ...            ...   ...
235        38940  374830.000000  1356.0000  -9.93   blue              O     5
236        30839  834042.000000  1194.0000 -10.63   blue              O     5
237         8829  537493.000000  1423.0000 -10.73  white              A     5
238         9235  404940.000000  1112.0000 -11.23  white              A     5
239        37882  294903.000000  1783.0000  -7.80   blue              O     5

[240 rows x 7 columns]

In [20]:
df_star['Color'].unique().tolist()

['red',
 'blue white',
 'white',
 'yellowish white',
 'pale yellow orange',
 'blue',
 'blue-white',
 'whitish',
 'yellow-white',
 'orange',
 'white-yellow',
 'yellowish',
 'orange-red']

Remover hifen na coluna Color

In [21]:
def remove_hifen_color(cor: str)-> str:
    return cor.replace("-"," ")

Testando a função

In [22]:
remove_hifen_color("AAA-BBB")

'AAA BBB'

In [23]:
df_star['Color'] = df_star['Color'].apply(remove_hifen_color)

In [24]:
df_star['Color'].unique().tolist()

['red',
 'blue white',
 'white',
 'yellowish white',
 'pale yellow orange',
 'blue',
 'whitish',
 'yellow white',
 'orange',
 'white yellow',
 'yellowish',
 'orange red']

## Type

In [30]:
dict_type_star = {
    0:"RED DWARF"    ,
    1:"BROWN DWARF"  ,
    2:"WHITE DWARF"  ,
    3:"MAIN SEQUENCE",
    4:"SUPER GIANTS" ,
    5:"HYPER GIANTS" 
}

In [31]:
def class_star(tipo: int):
    return dict_type_star[tipo]

In [33]:
df_star['Type'] = df_star['Type'].apply(class_star)

In [34]:
df_star

,Temperature,L,R,A_M,Color,Spectral_Class,Type
0,3068,0.002400,0.1700,16.12,red,M,RED DWARF
1,3042,0.000500,0.1542,16.60,red,M,RED DWARF
2,2600,0.000300,0.1020,18.70,red,M,RED DWARF
3,2800,0.000200,0.1600,16.65,red,M,RED DWARF
4,1939,0.000138,0.1030,20.06,red,M,RED DWARF
...,...,...,...,...,...,...,...
235,38940,374830.000000,1356.0000,-9.93,blue,O,HYPER GIANTS
236,30839,834042.000000,1194.0000,-10.63,blue,O,HYPER GIANTS
237,8829,537493.000000,1423.0000,-10.73,white,A,HYPER GIANTS
238,9235,404940.000000,1112.0000,-11.23,white,A,HYPER GIANTS
239,37882,294903.000000,1783.0000,-7.80,blue,O,HYPER GIANTS

In [35]:
def separate_type(tipo:str)->str:
    return tipo.split(" ")[-1]

In [36]:
df_star['Size'] = df_star['Type'].apply(separate_type)

In [37]:
df_star.head()

   Temperature         L       R    A_M Color Spectral_Class       Type   Size
0         3068  0.002400  0.1700  16.12   red              M  RED DWARF  DWARF
1         3042  0.000500  0.1542  16.60   red              M  RED DWARF  DWARF
2         2600  0.000300  0.1020  18.70   red              M  RED DWARF  DWARF
3         2800  0.000200  0.1600  16.65   red              M  RED DWARF  DWARF
4         1939  0.000138  0.1030  20.06   red              M  RED DWARF  DWARF

In [40]:
df_star['R'].describe()

count     240.000000
mean      237.157781
std       517.155763
min         0.008400
25%         0.102750
50%         0.762500
75%        42.750000
max      1948.500000
Name: R, dtype: float64

In [41]:
df_star[['R','Size']]

             R    Size
0       0.1700   DWARF
1       0.1542   DWARF
2       0.1020   DWARF
3       0.1600   DWARF
4       0.1030   DWARF
..         ...     ...
235  1356.0000  GIANTS
236  1194.0000  GIANTS
237  1423.0000  GIANTS
238  1112.0000  GIANTS
239  1783.0000  GIANTS

[240 rows x 2 columns]